/*****************************************************/

/*****************************************************/
/*              OVERRIDE TETHYS DEFAULT              */

#app-header .tethys-app-header .icon-wrapper img {
    border-radius: 0 !important;
    height: 50px !important;
}

/*****************************************************/

/*****************************************************/
/*                   GENERAL MODAL                   */

.model-btn {
    background-color: #428bca;
    color: white;
}
.model-btn:not(:disabled):hover {
    background-color: #006699;
    color: white;
}

/*****************************************************/

/*****************************************************/
/*                  MODEL REP MODAL                  */

#model-rep {
    width: auto;
    margin: 40px;
}
#model-rep tbody tr:hover {
    background-color: #006699;
    color: white;
    cursor: pointer;
}
#model-rep {
    bottom: 110px;
    right: 1px;
    left: inherit;
}
#div-chkbx-model-auto-close {
    position: fixed;
    bottom: 65px;
    margin: 10px 0 5px 0;
    height: 30px;
}
#chkbx-model-auto-close {
    margin-left: 25px;
}
input[type="radio"] {
    cursor: pointer;
}
#model-rep td, #model-rep th {
    padding: 10px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    border: 1px solid #00000030;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
     margin-left: 0;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: white !important;
    background: #428bca;
    border-color: #428bca;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: white !important;
    background: #006699;
    border-color: #006699;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    border-radius: 0;
}
.dataTables_wrapper.no-footer .dataTables_scrollBody {
     border-bottom: none;
}
table.dataTable thead th, table.dataTable thead td {
    border-bottom: none;
}
.col-sm-3 {
    max-width: 285px;
}
.dataTables_scrollHeadInner{
  width:100% !important;
}
.dataTables_scrollHeadInner table{
  width:100% !important;
}
.model_info {
    padding-left: 7px !important;
    font-size: 0;
}

/*****************************************************/

/*****************************************************/
/*                      General                      */

.page-title {
    margin: 30px 0;
    margin-top: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #DDD;
}
.panel {
    border-radius: 0;
}
.filter-list .list-group-item {
    border: 0;
    border-radius: 0;
    padding: 0 10px;
    text-align: left;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}
.list-group-item:hover {
    background-color: lightgray;
}
.filter-list .list-group-item {
    border: 0;
    border-radius: 0;
    padding: 0 10px;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
    text-align: left;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.filter-list .list-group {
    max-height: 200px;
    overflow-y: auto;
}
.filter-list .badge {
    margin-top: 5px;
}
.list-group {
    margin: 0;
}
.filter-list label.checkbox {
    font-weight: normal;
    border-radius: 0;
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 32px;
    padding-left: 20px;
    margin: 0;
}
h4.panel-title {
    color: #696969;
    text-shadow: 0 1px 0 #fff;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
}
h1, h2, h3, h4, h5, h6 {
    color: #555;
    font-family: 'Lato', sans-serif;
}
#load-from-local {
    display: inline;
}
#btn-metadata, #btn-download {
    float: right;
    display: inline;
    margin-right: 10px;
}
#btn-open-model {
    float: right;
    display: inline;
    margin-right: 40px;
}
#btn-upload-modal {
    float: left;
    display: inline;
    margin-left: 40px;
}
.btn-group {
    float: right;
    cursor:pointer;
}

#modal-metadata .modal-dialog {
    width: 900px !important;
}
#byu-logo-container {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 10px;
    overflow-y: visible;
    height: 60px;
    width: 150px;
}
#byu-logo-container img {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50px;
}
#byu-logo-container span {
    position: absolute;
    bottom: 0;
    left: 55px;
    width: 150px;
    margin-bottom: 10px;
    text-align: left;
    font-size: 12px;
}
