{% extends "epanet_model_repository/base.html" %}
{% load tethys_gizmos %}

{% block app_navigation_override %}{% endblock %}

{% block header_buttons %}
<div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="bottom" title="Help">
  <a data-toggle="modal" data-target="#help-modal"><span class="glyphicon glyphicon-question-sign"></span></a>
</div>
{% endblock %}

{% block app_content %}
<div class="row">
  <div class="col-sm-12">
    <h2 class="page-title">Discover EPANET Models <small class="text-muted"><i>Public models shared with the community.</i></small></h2>
  </div>
  <div class="col-sm-3 col-xs-12">
    <div id="filters-container">

      <div class="filter-owner">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#owner">

                &nbsp; Filter by Owner

                <span id="icon-owner" class="glyphicon glyphicon-minus pull-left"></span>
              </a>
            </h4>
          </div>

          <div id="owner" class="filter-list panel-collapse collapse in">
            <ul class="list-group" id="list-group-owner"></ul>
          </div>
        </div>
      </div>
      <div class="filter-subject">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#subject">

                &nbsp; Filter by Subject

                <span id="icon-suject" class="glyphicon glyphicon-minus pull-left"></span>
              </a>
            </h4>
          </div>

          <div id="subject" class="filter-list panel-collapse collapse in">
            <ul class="list-group" id="list-group-subject"></ul>
          </div>
        </div>
      </div>
      <div class="filter-availability">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#availability">

                &nbsp; Filter by Availability

                <span id="icon-availability" class="glyphicon glyphicon-minus pull-left"></span>
              </a>
            </h4>
          </div>

          <div id="availability" class="filter-list panel-collapse collapse in">
            <ul class="list-group" id="list-group-availability">
              <li class="list-group-item" rel="availability, public">
                <span id="bdg-public" class="badge"></span><label class="checkbox noselect"><input type="checkbox" id="availability-public" value="p">Public</label>
              </li>
              <li class="list-group-item" rel="availability, discoverable">
                <span id="bdg-discoverable" class="badge"></span><label class="checkbox noselect"><input type="checkbox" id="availability-discoverable" value="d">Discoverable</label>
              </li>
              <li class="list-group-item" rel="availability, private">
                <span id="bdg-private" class="badge"></span><label class="checkbox noselect"><input type="checkbox" id="availability-private" value="r">Private</label>
              </li>
              <li class="list-group-item" rel="availability, shareable">
                <span id="bdg-shareable" class="badge"></span><label class="checkbox noselect"><input type="checkbox" id="availability-shareable" value="s">Shareable</label>
              </li>
              <li class="list-group-item" rel="availability, non-shareable">
                <span id="bdg-non-shareable" class="badge"></span><label class="checkbox noselect"><input type="checkbox" id="availability-non-shareable" value="n">Not Shareable</label>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-9 col-xs-12">
    <div id="model-rep">
      <img src="/static/epanet_model_repository/images/loading-animation.gif">
      <br>
      <p><b>Loading model repository...</b></p>
      <p>Note: Loading will continue if dialog is closed.</p>
    </div>
    <button id="btn-upload-modal" class="btn btn-default model-btn" data-toggle="modal" data-target="#modal-upload">Upload Model to Repository</button>
    <div id="grp-btn" class="btn-group dropup">
      <button id="btn-open-model" class="btn btn-primary btn-upload dropdown-toggle hidden" type="button" id="btn-open-model" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" disabled>
        Open Model  <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="btn-open-model">
        <li><a id="btn-open-model-viewer" class="dropdown-item">EPANET Model Viewer</a></li>
        <li><a id="btn-open-city-water" class="dropdown-item">Aquaveo City Water</a></li>
        <li><a id="btn-open-other" class="dropdown-item">Other</a></li>
      </ul>
      <div id="load-anim"></div>
    </div>
    <button id="btn-metadata" class="btn btn-primary model-btn btn-upload hidden" data-toggle="modal" data-target="#modal-metadata" disabled>View Metadata</button>
    <button id="btn-download" class="btn btn-primary btn-upload hidden" disabled>Download</button>
  </div>
</div>
{% endblock %}

{# Use the after_app_content block for modals #}
{% block after_app_content %}
<!-- Upload Model Modal -->
<div id="modal-upload" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" id="upload-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">Model Properties</h3>
      </div>
      <div class="modal-body">
        <form id="frm-upload">
          <b>Model: </b><input type="file" id="load-from-local" required><br><br>
          <b>Title: </b><input id="inp-upload-title" name="upload-title" type='text' required><br><br>
          <b>Description: </b><input id="inp-upload-description" name="upload-description" type='text' required><br><br>
          <b>Keywords: </b><input id="tagsinp-upload-keywords" name="upload-keywords" type="text" data-role="tagsinput" required>
        </form>
      </div>
      <div class="modal-footer">
        <button id="btn-upload-cancel" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button id="btn-upload" type="button" class="btn btn-primary">Upload</button>
      </div>
    </div>
  </div>
</div>

<!-- Upload Metadata Modal -->
<div id="modal-metadata" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">Model Metadata</h3>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Help Modal -->
<div class="modal fade" id="help-modal" tabindex="-1" role="dialog" aria-labelledby="help-modal-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="help-modal-label">Help</h4>
      </div>
      <div class="modal-body">
        <p><b>Welcome to the EPANET Model Repository App</b></p>
        <h5>You can do the following:</h5>
        <ol>
          <li class="welcome-step">Search for EPANET Models
            <p><b>Click on filters or search using the search bar</b></p>
          </li>
          <li class="welcome-step">Download a Model File
            <p><b>Select a model and click "Download"</b></p>
            <p><b>The file will be in your "Downloads" folder when download is complete</b></p>
          </li>
          <li class="welcome-step">View a Model File's Metadata
            <p><b>Select a model and click "View Metadata"</b></p>
          </li>
          <li class="welcome-step">Open a Model File
            <p><b>Select a model and click "Open Model". You can then open the model in the EPANET Model Viewer App or in a third-party app</b></p>
          </li>
          <li class="welcome-step">Save a Model File to Hydroshare
            <p><b>Click "Upload Model to Hydroshare", enter in the required information and click "Upload"</b></p>
          </li>
          <li class="welcome-step">Click the 'X' in the top-right of the app to return to the NCIMM Apps Library</li>
        </ol>
      </div>
      <div class="modal-footer">
        <div id="byu-logo-container">
          <span><i>Developed at the BYU Hydroinformatics Lab</i></span>
          <img src='/static/epanet_model_repository/images/byu-medallion.png'/>
        </div>
        <a href="https://github.com/tylorbayer/tethysapp-epanet_model_repository" target="_blank" class="btn btn-default">View Code</a>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Log Modal -->
<div id="modalLog" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Log</h4>
      </div>
      <div class="modal-body" id="logEntries"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" id="btn-clearLog">Clear Log</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block app_actions %}
{% endblock %}